body{
    background-color: rgb(57, 61, 63);
}

#testing{
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 0.01em 10px;
    border-left: 6px solid;
    border-right: 6px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 85px;
    white-space: nowrap;
    word-spacing: 150px;
    color: black;
  
}

.child-wrap{
    display: inline-block; 
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}

